<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 col-md-8">

    <%= image_tag(@product.image_url, class: "product-image img-responsive") %>

    </div>

    <div class="col-sm-4 col-md-4 data">

      <p>
        <strong><span class="glyphicon glyphicon-gift"></span>&nbsp;Name:</strong>
        <%= @product.name %>
      </p>

      <p>
        <strong><span class="glyphicon glyphicon-pencil"></span>&nbsp;Description:</strong>
        <%= @product.description %>
      </p>

      <p>
        <strong><span class="glyphicon glyphicon-picture"></span>&nbsp;Image url:</strong>
        <%= @product.image_url %>
      </p>

      <p>
        <strong><span class="glyphicon glyphicon-tint"></span>&nbsp;Colour:</strong>
        <%= @product.colour %>
      </p>

      <p>
        <strong><span class="glyphicon glyphicon-euro"></span>&nbsp;Price: </strong>€
        <%= @product.price %>
      </p>

      <h3>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </h3>
      
      <%= render 'new_comment' %>
      <%= render 'comments' %>

      <div class="digg_pagination">
        <div class="page_info">
        <%= page_entries_info @comments %>    
        </div>
        <%= will_paginate @comments,:container => false %>
      </div>

    </div>
  </div>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
</div>